# Default ignored files
/shelf/
/workspace.xml
.idea/

maiLitoral/.vscode
maiLitoral/.vs
maiLitoral/Logs
maiLitoral/Library
maiLitoral/Temp

/maiLitoral/Assets/Scripts/Database/Plugins/Android.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/arm64-v8a.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/armeabi-v7a.meta
/maiLitoral/Assets/Scripts/Database/BeachData.cs
/maiLitoral/Assets/Scripts/Database/BeachData.cs.meta
/maiLitoral/Assets/Scripts/Database/BeachDayPropertyData.cs
/maiLitoral/Assets/Scripts/Database/BeachDayPropertyData.cs.meta
/maiLitoral/Assets/Scripts/Database/CalendarDayData.cs
/maiLitoral/Assets/Scripts/Database/CalendarDayData.cs.meta
/maiLitoral/Assets/Scripts/Database.meta
/maiLitoral/Assets/Scripts/Database/DatabaseManager.cs
/maiLitoral/Assets/Scripts/Database/DatabaseManager.cs.meta
/maiLitoral/Assets/Prefabs/Managers/DatabaseManager.prefab
/maiLitoral/Assets/Prefabs/Managers/DatabaseManager.prefab.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/arm64-v8a/libsqlite3.so
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/armeabi-v7a/libsqlite3.so
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/x86/libsqlite3.so
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/arm64-v8a/libsqlite3.so.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/armeabi-v7a/libsqlite3.so.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/x86/libsqlite3.so.meta
/maiLitoral/Assets/Databases/mailitoral.db
/maiLitoral/Assets/Databases/mailitoral.db.meta
/maiLitoral/Assets/Scripts/Database/Plugins.meta
/maiLitoral/Assets/Scripts/Database/PropertyData.cs
/maiLitoral/Assets/Scripts/Database/PropertyData.cs.meta
/maiLitoral/Assets/Scripts/Database/Plugins/SQLite.cs
/maiLitoral/Assets/Scripts/Database/Plugins/SQLite.cs.meta
/maiLitoral/Assets/Scripts/Database/Plugins/x64/sqlite3.dll
/maiLitoral/Assets/Scripts/Database/Plugins/x86/sqlite3.dll
/maiLitoral/Assets/Scripts/Database/Plugins/x64/sqlite3.dll.meta
/maiLitoral/Assets/Scripts/Database/Plugins/x86/sqlite3.dll.meta
/maiLitoral/Assets/Scripts/Database/Plugins/x64.meta
/maiLitoral/Assets/Scripts/Database/Plugins/Android/libs/x86.meta
/maiLitoral/Assets/Scripts/Database/Plugins/x86.meta
/maiLitoral/Assets/Scripts/Database/ZoneData.cs
/maiLitoral/Assets/Scripts/Database/ZoneData.cs.meta
